<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="large" (click)="goBack()">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title (click)="goBack()" class="ion-text-center">
      Lista de Trabajadores
    </ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segment" (ionChange)="cargaWorkers()">
    <ion-segment-button value="active">
      <ion-label class="selector">Activos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nonActive">
      <ion-label class="selector">No activos</ion-label>
    </ion-segment-button>
  </ion-segment>  
</ion-header>

<ion-content>

  


<ion-grid>

    <ion-refresher slot="fixed" (ionRefresh)="cargaWorkers($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list >
      <ion-item *ngFor="let ww of this.wwlist;">
        <ion-avatar class="avatar" item-start>
          <img src="{{ww.worker.picture}}">
        </ion-avatar>
        <ion-label (click)="showLogs(ww)">{{ww.worker.name}}   {{ww.worker.surname}}</ion-label>
        <ion-checkbox [(ngModel)]="ww.dailylogcheck" *ngIf="ww.current" (click)="enableButton = true;" checked="false"></ion-checkbox>
        <ion-button class="settings" (click)="clickSettings(ww)"><ion-icon name="settings-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
</ion-grid>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showExcelExport()">
    <ion-icon name="download"></ion-icon>
  </ion-fab-button>

  <ion-fab-button [disabled]="!this.enableButton" (click)="showLogCreate()">
    <ion-icon name="time-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-button (click)="showActionSheet()">
    <ion-icon name="person-add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
