<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" size="large" (click)="closeEditor()">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title color="dark">Datos empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img style="width: 400px; height: 400px;" src="{{worker.picture}}">
      <ion-card-subtitle>Nombre</ion-card-subtitle>
      <ion-card-title>{{worker.name}}</ion-card-title>

      <ion-card-subtitle>Apellidos</ion-card-subtitle>
      <ion-card-title>{{worker.surname}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-datetime [(ngModel)]="dateTime" presentation="month-year" size="cover"></ion-datetime>
  <ion-button expand="block" (click)="exportExcelDate()">
    <ion-icon name="download"></ion-icon> Exportar a Excel
  </ion-button>
  
  <ion-button expand="block" (click)="exportExcel()">
    <ion-icon name="download"></ion-icon> Exportar todo a Excel
  </ion-button>

</ion-content>
