<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="goBack()"></ion-icon>
    <ion-title>{{'ADDWORK' | translate | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="workForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="margin-top: 10px; ">
            <div>
              <ion-label>Nombre</ion-label>
              <ion-item>
                <ion-input formControlName="name" name="name" type="text" placeholder="Introduce el Nombre" ngModel
                  required></ion-input>
              </ion-item>
            </div>
            <div>
              <ion-label>Descripcion</ion-label>
              <ion-item >
                <ion-textarea formControlName="description" name="description" type="text" placeholder="Introduce descripcion" ngModel required></ion-textarea>
              </ion-item>
            </div>
            <div>
              <ion-label>Encargado</ion-label>
              <ion-select formControlName="chief" [compareWith]="compareWith">
                <ion-select-option *ngFor="let worker of workers" [value]="worker">{{worker.name + ' ' + worker.surname}}</ion-select-option>
              </ion-select>
            </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="workForm.invalid" expand="block">Añadir Obra</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>