ion-input{
    border-bottom: 2px solid orange !important;
    margin: auto;
    width: 450px;
    margin-bottom: 50px;
    margin-top: 60px;
    padding: 0;
    font-size: 16px;
}

#accept{
    margin-left: 70%;
}

.datePicker{
    width: 120px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

#dateTime{
    margin: auto !important;
}

.create{
    font-weight: 600px;
    margin: 10px auto;
    font-size: 26px;
}

ion-item{
    margin: auto;
}

#hoursIcon{
    margin-right: 20px;
}