ion-item{
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: larger;
}

ion-button{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

#close{
    width: 3rem;
    height: 3rem;
}

.datePicker{
    width: 60%;
    height: 10rem;
    margin: auto;
    margin-top: 10rem;
}

#dateTime{
    margin: auto !important;
    margin-top: 0px;
}

div{
    font-size: 4rem;
    margin: auto;
    margin-top: 1rem;
}

#hoursText{
    size: 800px;
}


#hoursIcon{
    margin-right: 20px;
}