<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Crear empleado</ion-title>
    <ion-button slot="end" fill="clear" size="large" (click)="closeEditor()">
      <ion-icon name="close" color="dark"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="workerForm" (ngSubmit)="saveWorker()">

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input placeholder="Introduzca un nombre" type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input placeholder="Introduzca unos apellidos" type="text" formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-checkbox color="primary" formControlName="active"></ion-checkbox>
    </ion-item>
    <ion-button expand="full" color="primary" type="submit" [disabled]="this.workerForm.invalid">Agregar</ion-button>

  </form>

  <ion-img style="width: 400px; height: 400px;" *ngIf="this.image" [src]="this.image"></ion-img>
  <ion-button expand="full" color="primary" type="submit" (click)="pickPhoto()">foto</ion-button>

</ion-content>