ion-title,ion-toolbar{
	font-size: x-large;
	font-family: 'Times New Roman';
	color: white;
	font-weight: bold;
	text-align: center;
	padding-right: 25px;
}

ion-icon{
	margin-left: 15px;
}

ion-item{
	--background: #ffffff;
	--color: rgb(105, 105, 105);
	margin: 10px;
	border-radius: 6px;
	border: #252525 solid 1px;
	border-bottom: none;
}

ion-select{
	--background: #ffffff;
	--color: rgb(105, 105, 105);
	margin: 10px;
	border-radius: 6px;
	border: #252525 solid 1px;
}

ion-label:not(#checkboxLabel){
	margin-left: 5%;
	margin-right: 20%;
	font-size: large;
}

ion-button{
	font-size: x-large;
	font-family: 'Times New Roman';
	color: white;
	text-align: center;
	margin: 10px;
}

.centrado{
	text-align: center;
}
div{
	margin-bottom: 20px;
}
.subir{
    padding: 5px 10px 10px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
}
 

.subir:hover{
    color:#fff;
    background: #f73d18;
}