// Menu user profile
.userPhoto{
    border-radius: 50%;
    zoom: 0.4;
}
.header{
    display: inline-block;
    margin: 10px;
    color: aliceblue;
}
.column{
    background-color:  #eb445a;
    padding: 10px;
    border-radius: 5px;
}