
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Ajustes del Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <input id="slider" class="customSlider" type="checkbox" checked>

    <div class="wrapper">
      <div class="top-icons">
        <i class="fas fa-long-arrow-alt-left"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="far fa-heart"></i>
      </div>

      <div class="profile">
        <img src="{{this.user.picture}}" class="thumbnail">
        <h3 class="name">{{this.user.name}} {{this.user.surname}}</h3>
        <p class="description">{{this.user.email}}</p>
        <button class="butt2" (click)="closeSesion()">Cerrar Sesión</button>

      </div>

      <div class="social-icons">
        <div class="icon">
          <ion-icon name="home-outline"></ion-icon>
          <h4>{{this.nWork}}</h4>
          <p>Obras Creadas</p>
        </div>

        <div class="icon">
          <ion-icon name="people-outline"></ion-icon>
          <h4>{{this.nWorkers}}</h4>
          <p>Obreros</p>
        </div>

        <div class="icon">
          <ion-icon name="archive-outline"></ion-icon>
          <h4>{{this.nWorkDeleted}}</h4>
          <p>Obras Desactivada</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>