ion-title,ion-toolbar{
    font-size: x-large;
    font-family: 'Times New Roman';
    --color: rgb(104, 104, 104);
    font-weight: bold;
    text-align: center;
    padding-right: 25px;
    padding-top: 8px;

}
p{
    color: rgb(70, 70, 70);
}
h2{
    font-family: 'Times New Roman';
    color: #DD7F3D;
    font-weight: bold;
    font-size: x-large;
}
.logo{
    margin: 8%;
    margin-top: 5px;
    margin-bottom: 5px;
}
