ion-title {
    position: absolute;
    font-size: x-large;
    font-family: 'Times New Roman';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background: #ffffff;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}

// ------------------------------------------------

$orange-gradient: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 125, 81) 100%);
$purple-gradient: linear-gradient(to bottom right, #c03101, #ff7D51);
$purple-gradient2: linear-gradient(to bottom right, #9e0000, #ff0000);
$blue1-gradient: linear-gradient(to bottom right, #5e5aec, #3f9efc);
$blue2-gradient: linear-gradient(to bottom right, #6452e9, #639ff9);
$shadow: 0 13px 26px rgba(rgb(255, 255, 255), 0.2), 0 3px 6px rgba(rgb(255, 255, 255), 0.2);


// ------------------------------------------------

.customSlider {
    opacity: 0;
    display: none;
    + label {
        position: relative;
        top: 5px;
        left: 15px;
        cursor: pointer;
        &:before,
        &:after {
            background: #979797;
            position: absolute;
            content: "";
        }
        &:before {
            top: -90px;
            left: -60px;
            width: 80px;
            height: 40px;
            background: #ccc;
            border-radius: 20px;
            transition: --background 0.75s;
        }
        &:after {
            height: 34px;
            width: 34px;
            top: -87px;
            left: -55px;
            border-radius: 50%;
            transition: all 0.5s;
        }
    }

    &:checked + label:after {
        height: 34px;
        width: 34px;
        top: -87px;
        left: -19px;
        border-radius: 50%;
    }

    &:checked ~ .wrapper {
        color: #fff;
        transition: --background 0.6s ease;
        background: #ffffff;

        .top-icons {
            i {
                color: #0080ff;
            }
        }

        .profile {
            .name {
                margin-top: 5px;
                margin-bottom: 15px;
                color: #666b7d;
            }

            .description {
                margin-top: 5px;
                margin-bottom: 20px;
                color: #666b7d;
            }
        }
        .icon {
            h4 {
                color: #666b7d;
            }

            p {
                color: #666b7d;
            }
        }
    }
}

.wrapper {
    width: 320px;
    height: 540px;
    background: #b6b6b6;
    transition: --background 0.6s ease;
    border-radius: 10px;
    padding: 10px;

    .top-icons {
        i {
            color: #080911;
            &:nth-of-type(1) {
                float: left;
            }
            &:nth-of-type(2) {
                float: right;
            }
            &:nth-of-type(3) {
                float: right;
                padding-right: 0.8em;
            }
        }
    }
    .profile {
        margin-top: 1em;
        position: relative;

        &:after {
            width: 100%;
            height: 1px;
            content: " ";
            display: block;
            margin-top: 1.3em;
            background: #e9eff6;
        }

        .check {
            position: absolute;
            right: 5em;
            bottom: 12.7em;
            i {
                color: #fff;
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                border-radius: 100%;
                background: $purple-gradient;
            }
        }
        .thumbnail {
            width: 124px;
            height: 124px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5em;
            border-radius: 100%;
            box-shadow: $shadow;
        }
        .name {
            color: #2d354a;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }

        .title {
            color: #7c8097;
            font-size: 0.75em;
            font-weight: 300;
            text-align: center;
            padding-top: 0.5em;
            padding-bottom: 0.7em;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        .description {
            color: #080911;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 1.3em;
        }

        
        .butt {
            color: #fff;
            width: 150px;
            height: 40px;
            outline: none;
            border: none;
            display: block;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 25px;
            border-radius: 15px;
            text-align: center;	
            text-decoration: none;
            box-shadow: 0 5px #999;
            background: $purple-gradient;
        }
        
        .butt:hover {background-color: #3e8e41}
        
        .butt:active {
            background-color: #d14d00;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .butt2 {
            color: #fff;
            width: 150px;
            height: 40px;
            outline: none;
            border: none;
            display: block;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 25px;
            border-radius: 10px;
            text-align: center;	
            text-decoration: none;
            box-shadow: 0 5px #999;
            margin-bottom: 20px;
            background: $purple-gradient2;
        }
        
        .butt2:hover {background-color: #3e8e41}
        
        .butt2:active {
            background-color: #d14d00;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    }

    .social-icons {
        display: flex;
        margin-top: 1.2em;
        justify-content: space-between;

        .icon {
            display: flex;
            align-items: center;
            flex-direction: column;
            ion-icon {
                color: #ff7D51;
                width: 50px;
                height: 50px;
                padding: 10px;
                line-height: 60px;
                text-align: center;
                border-radius: 30px;
                box-shadow: $shadow;
            }
            i {
                color: rgb(0, 0, 0);
                width: 60px;
                height: 60px;
                font-size: 20px;
                line-height: 60px;
                text-align: center;
                border-radius: 30px;
                box-shadow: $shadow;
            }
            &:nth-of-type(1) {
                a {
                    background: $purple-gradient;
                }
            }
            &:nth-of-type(2) {
                a {
                    background: $blue1-gradient;
                }
            }
            &:nth-of-type(3) {
                a {
                    background: $blue2-gradient;
                }
            }

            h4 {
                color: #000000;
                font-size: 2em;
                margin-top: 0.2em;
                margin-bottom: 0.2em;
            }

            p {
                color: #666b7d;
                font-size: 12px;
            }
        }
    }
}

.concept {
    position: absolute;
    bottom: 25px;
    color: #aab0c4;
    font-size: 0.9em;
    font-weight: 400;
    a {
        color: ff7D51;
        text-decoration: none;
    }
}
