<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="logo">
      <img src="../../../assets/imgs/Logo.png">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-title >
    Lista de Obras
  </ion-title>

  <ion-refresher slot="fixed" (ionRefresh)="cargaObras($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">

    <ion-item-sliding class="item" *ngFor="let obra of obras | filtro:textoBuscar;let i=index ">

      <ion-item (click)="goListworker(obra)">

        <ion-avatar class="avatar" item-start>
          <img src="../../../assets/imgs/obra.jpg">
        </ion-avatar>
        <ion-label>
          <h2>{{obra.name}}</h2>
          <p>{{obra.description}}</p>
        </ion-label>
        <ion-icon color="primary" name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="desactivar(obra)">
          <ion-icon name="remove-circle" style="zoom:3.0"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab class="addbutton" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goaddwork()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>