<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="logo">
      <img src="../../../assets/imgs/Logo.png">
    </div>
  </ion-toolbar>
  <ion-title >
    Lista de Obras
  </ion-title>
  <ion-segment [(ngModel)]="segment" (ionChange)="loadworks()">
    <ion-segment-button value="active">
      <ion-label class="selector">Obras Activas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nonActive">
      <ion-label class="selector">Obras No activos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-refresher slot="fixed" (ionRefresh)="loadworks($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list lines="none">

    <ion-item-sliding class="item" *ngFor="let work of works">

      <ion-item (click)="goListworker(work)">

        <ion-avatar class="avatar" item-start>
          <img src="../../../assets/imgs/obra.jpg">
        </ion-avatar>
        <ion-label>
          <h2>{{work.name}}</h2>
          <p>{{work.description}}</p>
        </ion-label>
        <ion-icon color="primary" name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="changeActive(work)">
          <ion-icon name="remove-circle" style="zoom:3.0"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab class="addbutton" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goaddwork()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>