ion-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

ion-title{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    font-size: 38px;
}

ion-label{
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}